<div>
  <h3>{{ address.name }} {% if address.default %} - défaut {% endif %}</h3>
<p>{{ address.address_1 }}</p>
  {% if address.address_2 %}
  <p>{{ address.address_2 }}</p>
  {% endif %}
  <p>{{ address.city }}, {{ address.zip_code }}</p>
  <!--
  puis j'utilise get_country_display pour afficher France et pas le fr de la BDD
  -->
  <p>{{ address.get_country_display|upper }}</p>

  {% if not address.default %}

  <a href="{% url 'accounts:set-default-shipping' address.pk %}">Mettre par défaut</a>
  {% endif %}
  <p>
    <a href="{%url 'accounts:delete-address' address.pk %}">Supprimer cette adresse</a>

  </p>

</div>