{% extends 'base.html' %}

{% block content %}

<form method="POST">
{% csrf_token %}
{{ form.as_p }}

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>

        {% endfor %}
    </ul>
    {% endif %}
    <button type="submit">Sauvegarder</button>
</form>


<h1>Adresses</h1>
{% for address in addresses %}
<!-- {{ address|linebreaks }} -->
<!-- mais je peux utiliser une autre méthode pour afficher :
-->
{% include 'accounts/address.html' %}
{% endfor %}
{% endblock %}