<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>La boutique de Docstring</title>
</head>
<body>
<a href="{% url 'index' %}"> <h1>La boutique de Docstring</h1> </a>
{% if user.is_authenticated %}
<i>{{ user.username }}</i>
<a href="{% url 'logout' %}">Déconnexion</a>
{% else %}
<a href="{% url 'login' %}">Connexion</a>
<a href="{% url 'signup' %}">S'inscrire</a>
{% endif %}

{% if user.cart and not user.cart.orders.ordered %}
<a href="{% url 'cart' %}">Mon panier ( {{ user.cart.orders.count }} )</a>
<!--
utilisateur - paniers - articles que l'on compte
-->
{% endif %}




{% block content %}
{% endblock %}
</body>
</html>